.layout-page .row{
    margin-top:20px;

    background-color: rgb(192, 203, 192);
}

.layout-page .column:not(:first-child){
    border-left:20px solid white;
}

.layout-page .column{

    padding-top:10px;
    padding-bottom:10px;

}
.layout-page   .container{
    
    overflow: hidden;
    
}

.navbar   .navbar-brand{
    padding-left: 10px;
    padding-right:10px;
}
.dropdown-menu   .nav-item{
    width:100%
}


body {
    background-color: rgb(255, 255, 255);

    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }

  .active {
    background-color:darkgray;
  }